<template>
  <div id="app" v-touch:swipe.up="swipeup" v-if="Object.keys(cards).length">
    <Card v-for="card in cards" :key="card.id" :card="card"/>
  </div>
</template>

<script>
import Card from "../Card/Card.vue";

export default {
  name: "app",
  components: {
    Card
  },
  computed: {
    cards() {
      return this.$store.state.votesCards;
    }
  },
  beforeCreate() {
    this.$store.dispatch("fetchData");
  },
  methods: {
    swipeup(e) {
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        console.log('end of a page');
        this.$store.dispatch("fetchData");
      }
    }
  }
};
</script>

<style lang="scss" src="./app.scss"></style>
