body {
    margin: 0;
    font-family: Arial;
}

#app {
    background: #f7f6f8;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
}