<template>
  <div class="card">
    <a :href="url" target="_blank">
      <img class="image" :src="image">
      <div class="date">{{date}}</div>
      <div class="header">{{header}}</div>
      <div class="text">{{text}}</div>
      <div class="next">Далее</div>
    </a>
  </div>
</template>

<script>
const url = "//vmeste-region.ru/votes/";

export default {
  name: "Card",
  props: ["card"],
  computed: {
    date() {
      let date1 = new Date(this.card.date);
      let date2 = new Date(this.card.expire);
      return `с ${date1.getDate()}.${("0" + date1.getMonth()).slice(-2)} 
        по ${date2.getDate()}.${("0" + date2.getMonth()).slice(-2)}`;
    },
    header() {
      return this.card.title;
    },
    text() {
      return this.card.teaser;
    },
    url() {
      return url + this.card.id;
    },
    image() {
      return this.card.thumbnail.url;
    }
  }
};
</script>

<style lang="scss" src="./card.scss"></style>
