.card {
    width: calc(100%/3 - 20px);
    height: 400px;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #cecece;
    position: relative;
    overflow: hidden;

    a {
        color: #000;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        height: 100%;
    }

    .image {
        width: 100%;
        height: 150px;
        background: #444;
    }

    .date {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, .3);
        padding: 15px;
        box-sizing: border-box;
        color: #fff;
        font-size: 11px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    }

    .header {
        box-sizing: border-box;
        padding: 15px;
        font-size: 18px;
        font-weight: 600;
    }

    .text {
        box-sizing: border-box;
        padding: 15px;
        font-size: 13px;
    }

    .next {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px;
        margin: 10px;
        color: #38ad6d;
        font-size: 13px;
    }

}